<div class="row featurette py-5">
  <div class="col-md-4 mx-5 ">
    <h2 class="featurette-heading font-oswald" style="color:#3cb371; font-size: 50px;">Body Mass Index</h2>
    <br>
    <p class="lead font-roboto" style="font-size:25px"><span style="color:#3cb371; font-style: italic;">"BMI" </span> 
    dựa vào chỉ số cơ thể bạn, từ đó đưa ra gợi ý về những bài tập với nội dung phong phú và chế độ ăn phù hợp với cơ thể<br>
    Dù bạn là người gầy hay thừa cân chỉ cần bạn thực sự nỗ lực và mong muốn thay đổi bản thân chúng tôi sẽ đồng hành cùng bạn. Hãy cùng kiểm tra BMI của bạn ngay hôm nay</p>
    <button type="button" class="btn btn-success">
      <!-- thêm def huyền viết vào -->
      <a href="{{url_for('bmi')}}" class="text-white">Kiểm tra  BMI</a>
    </button>
  </div>

  <div class="col-md-6">
    <iframe width="750" height="480" 
      src="https://www.youtube.com/embed/_m9At9ywh3E" 
      frameborder="5 groove" allow="autoplay; encrypted-media" allowfullscreen 
      style="border: 8px groove lavender">
    </iframe>
  </div>
</div>

