<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>content2</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    <link href="../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <!-- <link href="css/agency.min.css" rel="stylesheet"> -->
    <link href="../../static/css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top">
    <div class="">
    <!-- Portfolio Grid -->
    <section class="" id="portfolio">
        <p class="text-center font-lobster" style="font-size:45px">"Những thói quen tốt cho sức khỏe và <br> cân bằng chỉ số cơ thể BMI"</p>
      <div class="container">
          <p class="text-center font-lobster my-5" style="font-size:45px">Chế độ ăn</p>
        <div class="row">
        </div>
        <!-- 1 -->
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <img class="img-fluid" src="../../static/image/img13.jpg">
            </a>
           
            <!-- 2 -->
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <img class="img-fluid" src="../../static/image/bg_7.jpg" alt="" style="height:235px;">
            </a>
            
            <!-- 3 -->
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <img class="img-fluid" src="../../static/image/detox6.jpg" alt="" style="height:235px;">
            </a>
            
            <!-- 4 -->
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <img class="img-fluid" src="../../static/image/img10.jpg" alt="">
            </a>
            
            <!-- 5 -->
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <img class="img-fluid" src="../../static/image/img11.jpg" alt="" style="height: 235px;">
            </a>
           
            <!-- 6 -->
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <img class="img-fluid" src="../../static/image/img12.jpg" alt="">
            </a>
            
          </div>
        </div>
      </div>

    <!-- Portfolio Grid -->
    
      <div class="container">
          <p class="text-center font-lobster my-5" style="font-size:45px">Chế độ tập luyện</p>
        <div class="row">
        </div>
        <!-- 1 -->
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <img class="img-fluid" src="../../static/image/bg_2.jpg" alt="">
            </a>
           
            <!-- 2 -->
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <img class="img-fluid" src="../../static/image/bg_5.jpg" alt="">
            </a>
            
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <img class="img-fluid" src="../../static/image/blog11.jpg" alt="" style="height:235px; width: 350px;">
            </a>
            
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <img class="img-fluid" src="../../static/image/img14.jpg" alt="">
            </a>
            
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <img class="img-fluid" src="../../static/image/img15.jpg" alt="">
            </a>
           
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <img class="img-fluid" src="../../static/image/img16.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>
    </div>

    

    

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>

  </body>

</html>
