<div class="row featurette d-flex justify-content-center bg-dark">
    <footer class="container px-3 py-4">
        <!-- <p class="float-right">
            <a href="#" style="color:whitesmoke;">Back to top  | </a>
            <a href="{{url_for('sign_up')}}" style="color:whitesmoke">SIGN UP  | </a>
            <a href="{{url_for('login')}}" style="color:whitesmoke">LOGIN | </a>
            <a href="#" style="color:whitesmoke">BLOG | </a>
            <a href="#" style="color:whitesmoke">BMI | </a>
        </p> -->
        <p><span style="color:whitesmoke">Privacy</a> | 
            <a href="#" style="color:whitesmoke">© 2017-2018 Company, Inc.</span> 
            <a href="#" style="color:whitesmoke">Privacy |</a> 
            <a href="#" style="color:whitesmoke">Terms</a><br>
            <p class="text-light" style="font-size:25px;">ĐƯỢC THỰC HIỆN BỞI C4E19</p>
        </p>
    </footer>
</div>