<nav class="navbar-main navbar navbar-expand-lg navbar-fixed-top bg-white px-5">
    <div class="container-fluid">
        <!-- <img src="../../static/image/bmi.png" style="width:50px; height:50px; border-radius:180px;"> -->
        <a class="navbar-brand" href="{{url_for('index')}}" style="color: #3cb371; text-decoration: none;">BODY MASS INDEX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  d-flex justify-content-end mx-5" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <!-- thêm def huyền viết vào -->
                    <a class="nav-link" href="{{url_for('bmi')}}" style="color:#3cb371; text-decoration:none;">BMI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('individual', user_id = session['user_id'])}}" style="color:#3cb371; text-decoration:none;">Your Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('log_out')}}" style="color:#3cb371; text-decoration:none;">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 
 
    

     