.font-oswald{
    font-family: 'Oswald', sans-serif;
}

.font-abril{
    font-family: 'Abril Fatface', cursive;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.font-playfair{
    font-family: 'Playfair Display', serif;
}

.font-lobster{
    font-family: 'Lobster', cursive;
}

.h-700px {
    height: 700px;
}

.h-240px {
    height: 240px;
}

.container:hover .image {
    opacity: 0.3;
  }

.image:hover{
    color:rgb(170, 170, 170);
}

.exercises img{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

.exercises:hover image{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.w-700px{
    width: 700px;
}

.h-800px{
    height: 800px;
}

table, td, th {
    text-align: center;    
}

.bmi1, .bmi2, .bmi3, .bmi4, .bmi5, .bmi11 {
    padding: 15px 0;
    color: #fff;
    border-radius: 8px;
}
.img-responsive, .img-responsive img {
    display: inline;
    max-width: 100%;
    height: auto;
}

.bmi11 {
    background: #f4ce01;
}
.bmi1 {
    background: #5cade2;
}

.bmi2 {
    background: #9a59b5;
}

.bmi3 {
    background: #e94c3d;
}

.bmi4 {
    background: #e94c3d;
}

.tinhbmi tr td {
    position: relative;
}

    .tinhbmi tr td > img, .tinhbmi tr td > div > img, .bmi {
        opacity: 0.4;
    }

.btn {
    width: 100px;
    margin-left: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }