<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Result page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h3>Your BMI </h3
        <p>{{bmi}}</p>
            {% if bmi < 16  %}
                <a href = "{{url_for('underweight')}}">Severely underweight</a>
            {% elif 16 <= bmi < 18.5 %}
                <a href = "{{url_for('underweight')}}">Underweight</a>
            {% elif 18.5 <= bmi < 25 %}
                <a href = "{{url_for('normal')}}">Normal</a>
            {% elif 25 <= bmi < 30 %}
                <a href = "{{url_for('overweight')}}">Overweight</a>
            {% else %}
            <a href = "{{url_for('obese')}}">Obese</a>
            {% endif %}
</body>
</html>