<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Check BMI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
    <script src="main.js"></script>
    {%include 'meta-data.html'%}
</head>
<body>
    {% if session['logged_in'] == True %}
        {%include 'homepage/nav.html'%}
    {%else%}
        {%include 'homepage/navigation.html'%}
    {%endif%}
    <div>
        <h3 class="header" style="text-align:center; font-size: 40px; color:#3cb371">Thông tin sức khỏe</h3><br><br>
        <p class="text-center font-lobster" style="font-size:30px; text-align:center;">Body Mass Index
            <br> "Hãy cùng kiểm tra chỉ số cơ thể bạn"
        </p>
    </div>
    <hr style="width:800px">

    <!-- bảng tính -->
    <form action="" method="post">
        <div class="d-flex justify-content-center my-5">
            <label style="font-weight:bold" >Cân nặng (theo kg) : </label>
            <input type="text" id="cannang" name="weight" placeholder=" (kg)" class="mx-5" style="border-radius:10px;" required>
        </div>
        <div class="d-flex justify-content-center my-5">
            <label style="font-weight:bold">Chiều cao (theo cm) : </label>
            <input type="text" id="chieucao" name="height" placeholder=" (cm)" class="mx-5" style="border-radius:10px;" required>
        </div>
   
        <div class="form-group">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-2">
                        <input type="button" style="visibility: visible;" value="Tính BMI" id="tinh" class="btn btn-success btn-lg btn-block login-button">
                    </div>
                    <div class="col-sm-2">
                        <input type="reset" style="visibility: visible;" value="Nhập lại" class="btn btn-danger btn-lg btn-block login-button">
                    </div>
                </div>
                <br>
            </div>
        </div>
    <!-- </form> -->
    <div class="container">
        <div class="row clearfix">
                <table class="table tinhbmi">
                        <tbody >
                            <tr>
                                <td class="gay" style="padding: 10px 100px 10px 110px;">
                                    <div id="i1">
                                        <img src="../static/image/gầy.png" class="img-responsive" >
                                    </div>
                                </td>
                               <td class="chuanroi"  style="padding:10px 100px 10px 110px;">
                                    <div id="i2">
                                        <img src="../static/image/chuan.png" class="img-responsive" >
                                    </div>
                                </td>
                                <td class="hoimap"  style="padding: 10px 100px 10px 115px;"> 
                                    <div id="i3">
                                        <img src="../static/image/hơi mập.png" class="img-responsive">
                                    </div>
                                </td>
                                <td class="beoqua"  style="padding: 10px 100px 10px 105px;"> 
                                    <div id="i4">
                                        <img src="../static/image/béo quá.png" class="img-responsive">
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="gay" style="padding: 10px 80px 10px 100px;">
                                    <div class="bmi11 bmi ">
                                        <a href="" >
                                        
                                        <button type="submit" class="btn btn-primary btn-lg" > <i class="far fa-arrow-alt-circle-right">  </i> Gầy</button>
                                        </a>
                                        
                                    </div>
                                </td>
                                <td class="chuanroi" style="padding: 10px 80px 10px 100px;">
                                    <div class="bmi1 bmi">
                                        <a href="">
                                       <button type="submit" class="btn btn-info btn-lg"> <i class="far fa-arrow-alt-circle-right">  </i> Chuẩn</button>
                                        </a>
                                    </div>
                                </td>
                                <td class="chuanroi" style="padding: 10px 80px 10px 100px;">
                                    <div class="bmi2 bmi">
                                        <a href="">
                                            <button type="submit" class="btn btn-success btn-lg"> <i class="far fa-arrow-alt-circle-right">  </i> Hơi béo</button>
                                        </a>
                                    </div>
                                </td>
                                <td class="chuanroi" style="padding: 10px 80px 10px 100px;">
                                    <div class="bmi3 bmi">
                                        <a href="">
                                            <button type="submit" class="btn btn-danger btn-lg mr-2"> <i class="far fa-arrow-alt-circle-right">  </i> Béo quá</button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>           
                </div>
    </div>
    </form>

    <script>
        $("#tinh").click(function(){
            var chieucao = $("#chieucao").val();
            var chieucaoM = chieucao / 100;
            var cannang = $("#cannang").val();
            var bmi = cannang / (chieucaoM * chieucaoM);
            
            
            if(bmi < 18.5){
                $(".gay img , .bmi11").attr({
                    style: "opacity:1"
                    
                });
                $(" .chuanroi img , .bmi1 , .hoimap img , .bmi2, .beoqua img, bmi3 ").attr({
                    style:"opacity:0.2"
                });
            }
            else if (18.5 <= bmi && bmi < 24.9){
                $(".chuanroi img, .bmi1 ").attr({
                style: "opacity:1"
                });
                $(".gay img , .bmi11, .hoimap img, .bmi2, .beoqua img, .bmi3").attr({
                style: "opacity:0.2"
                });
            }
            else if (25 <= bmi && bmi < 29.9) {
                $(".hoimap img, .bmi2").attr({
                    style: "opacity:1"
                });
                $(" .chuanroi img, .bmi1 , .gay img , .bmi11, .beoqua img, .bmi3, .beoqua2 img, .bmi5,.beoqua3 img, .bmi4").attr({
                    style: "opacity:0.2"
                });
            }
            else if (30 <= bmi) {
                $(".beoqua img, .bmi3").attr({
                    style: "opacity:1"
                });
                $(" .chuanroi img, .bmi1 , .hoimap img, .bmi2,.gay img , .bmi11, .beoqua2 img, .bmi5,.beoqua3 img, .bmi4").attr({
                    style: "opacity:0.2"
                });
            }
        });
        
        $(".beoqua3 img, .bmi4, .chuanroi img, .bmi1 , .hoimap img, .bmi2, .beoqua img, .bmi3, .beoqua2 img, .bmi5,.gay img , .bmi11").attr({
                style: "opacity:0.3"
            });
        $(".btn-danger").click(function () {
            $(".beoqua3 img, .bmi4, .chuanroi img, .bmi1 , .hoimap img, .bmi2, .beoqua img, .bmi3, .beoqua2 img, .bmi5,.gay img , .bmi11").attr({
                style: "opacity:0.3"
            });
        });
    </script>



</body>
</html>