<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    {%include 'meta-data.html'%}
</head>
<body>
        {%if session['logged_in'] == True %}
            {%include 'homepage/nav.html'%}
        {%else%}
            {%include 'homepage/navigation.html'%}
        {%endif%}
        <div class="row featurette py-5">
            <div class="col-md-4 mx-5 ">
                <!-- <h2 class="featurette-heading font-oswald" style="color:#3cb371; font-size: 50px;">Body Mass Index</h2> -->
                    <br>
                        <p class="lead font-lobster" style="font-size:25px">
                            Hãy cố gắng theo hết bài tập và áp dụng chế độ ăn phù hợp để đạt hiệu quả cao nhất.
                            Tuy nhiên, nếu bạn bắt đầu tập và không theo hết bài tập thì cũng đừng vội nản, hãy cố gắng tập 10-15 phút cho buổi tập đầu,
                            và cố gắng theo bài tập ở những buổi tập tiếp theo
                        </p>
                    </div>
                      
                    <div class="col-md-6 ">
                        <iframe width="750" 
                            height="480" 
                            src="https://www.youtube.com/embed/{{youtube_id}}" 
                            frameborder="0" 
                            allow="autoplay; encrypted-media" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                      
                      

    {%include 'homepage/footer.html'%}
</body>
</html>