<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Detox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    {%include 'meta-data.html'%}
</head>
<body>
  
    {%if session['logged_in'] == True %}
      {%include 'homepage/nav.html'%}
    {%else%}
      {%include 'homepage/navigation.html'%}
    {%endif%}
    <h3 class="text-center my-5 font-lobster" style="font-size:45px;">Cách làm detox giảm cân, thanh lọc cơ thể và làm đẹp da</h3>
                  <div class="card-deck mx-5">
                    <div class="card">
                      <img class="card-img-top" src="../static/image/de1.jpg" alt="Card image cap" style="height:345px;">
                      <div class="card-body">
                        <h5 class="card-title">Cách làm detox đánh bay mỡ bụng</h5>
                        <p class="card-text">Chuẩn bị</p>
                        <ul>
                                <li>1-2lit nước lọc</li>
                                <li>1 trái dưa leo</li>
                                <li>1 trái chanh</li>
                                <li>1 trái cam</li>
                                <li>10-15 lá bạc hà</li>
                                <li>Đá viên</li>
                                </ul>
                        <p class="card-text">Hướng dẫn</p>
                        <ul>
                                <li>Rửa sạch các nguyên liệu trên. Thái mỏng chanh, cam và dưa leo. Ngâm trong 1-2lit nước, sau đó cho thêm các lá bạc hà. Ngâm trong 1-2 tiếng rồi uống hay có thể để qua đêm trong tủ lạnh (ngăn mát).</li>
                                <li>Sau khi uống hết nước đầu, bạn có thể cho tiếp nước 2-3 rồi chờ thêm 1 tiếng mới uống.</li>
                                </ul>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="../static/image/de2.jpg" alt="Card image cap" style="height:345px;">
                      <div class="card-body">
                        <h5 class="card-title">Công thức pha detox thanh lọc cơ thể</h5>
                        <p class="card-text">Chuẩn bị</p>
                        <ul>
                                <li>1 lọ hay bình lớn</li>
                                <li>500ml nước lọc</li>
                                <li>1 trái táo xanh</li>
                                <li>3 thanh quế (mua ở tiệm thuốc nam)</li>
                                </ul>
                        <p class="card-text">Hướng dẫn</p>
                        <ul>
                                <li>Rửa sạch táo, cắt thành từng miếng nhỏ, cho vào lọ. Cho tiếp quế vào, đổ nước và đóng nắp kín. Ngâm trong 1-2 tiếng là bạn có thể uống được hay có thể để trong tủ lạnh qua đêm.</li>
                                <li>Sau khi uống hết lớp nước đầu, bạn có thể cho thêm lớp nước 2-3 và chờ thêm 1 tiếng nước mới được uống.</li>
                                </ul>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="../static/image/de3.jpg" alt="Card image cap" style="height:345px;">
                      <div class="card-body">
                        <h5 class="card-title">Công thức detox làm đẹp da</h5>
                        <p class="card-text">Chuẩn bị</p>
                        <ul>
                                <li>Lọ hay bình lớn</li>
                                <li>500ml nước lọc</li>
                                <li>Vài trái dâu tằm hay dâu tay</li>
                                <li>1 trái chanh</li>
                                <li>1 nắm nhỏ lá bạc hà</li>
                                </ul>
                        <p class="card-text">Hướng dẫn</p>
                        <ul>
                            <li>Rửa sạch chanh và dâu, thái chanh thành từng lát mỏng, cắt đôi dâu để cho dễ ra nước. Cho vào lọ và cho tiếp nước vào, đóng kín nắp. Ngâm 1-2 tiếng rồi uống hay có thể để qua đêm trong ngăn mát tủ lạnh.</li>
                            <li>Sau khi uống xong nước đầu, có thể cho nước 2-3, ngâm trong 1 tiếng rồi uống.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
    
               

                  <h3 class="text-center my-5">Những lưu ý khi làm nước detox</h3>
                  <ul class="mx-5">
                        <li>Nếu ngâm trái cây cả vỏ thì nên ngâm trong nước muối pha loãng trong 15 phút rồi mắt cắt lát cho vào lọ.</li>
                        <li>Tinh dầu vỏ cam, chanh nếu ngâm cả ngày sẽ gây vị đắng; nếu không uống được thì trước khi làm bạn nên bỏ vỏ đi. Nhưng có tinh dầu ra thì sẽ thơm hơn, nên có thể cho vài lát còn vỏ.</li>
                        <li>Nước detox tùy vào sở thích mà chọn nên sẽ có mùi vị khác nhau nhưng nhìn chung là có vị chua do toàn chọn trái cây giàu vitamin C. Nếu không chịu được vị chua nên cho thêm các loại trái cây ngọt như táo, dứa, nho, lựu hay dưa hấu.</li>
                        <li>Sau khi uống xong nước detox 2-3 lần thì làm mới nhé vì cũng hết chất rồi.</li>
                        <li>Tốt nhất không nên để quá 24 tiếng.</li>
                        <li>Nên uống sau khi ăn sáng.</li>
                        <li>Vì detox không phải là thuốc uống giảm cân nên bạn phải phụ thuộc hoàn toàn vào <a href="http://www.khoedep.vn/tag/thuc-don-giam-can/" target="_blank" rel="noopener noreferrer">chế độ ăn kiêng giảm cân</a> của mình. Hãy nhớ muốn giảm cân chỉ cần lượng tinh bột nạp vào ít hơn lượng tinh bột đốt đi là được.</li>
                </ul>

                {%include 'homepage/footer.html'%}
</body>
</html>