<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Check BMI</title>
   
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
    <script src="main.js"></script>
    {%include 'meta-data.html'%}

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <!-- <link href="css/agency.min.css" rel="stylesheet"> -->
    <link href="../static/css/agency.min.css" rel="stylesheet">

  </head> 

  <body id="page-top">
    {%if session['logged_in'] == True %}
      {%include 'homepage/nav.html'%}
    {%else%}
      {%include 'homepage/navigation.html'%}
    {%endif%}

    
        <div class = "d-flex justify-content-center" >
        <h1 style="text-align:center; font-size: 40px; color:#3cb371"> Các chỉ số cơ thể</h1>
        </div>
        <div class = "d-flex justify-content-center">
        <table border = "1px">
            <thead class="text-center font-lobster" style="font-size:30px; text-align:center;">
                <th>STT</th>
                <th>Thời gian</th>
                <th>Chiều cao<br>(cm)</th>
                <th>Cân nặng<br>(kg)</th>
                <th>BMI</th>
                <th>Phân loại</th>
                <th>Chế độ luyện tập</th>
            </thead>
            <tbody>
                {% for body in all_body %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{body.time}}</td>
                    <td>{{body.height}}</td>
                    <td>{{body.weight}}</td>
                    <td>{{body.bmi}}</td>
                    <td>{{body.bmi_type}} </td>
                    <td><a href="{{url_for('getlean', bmi_id= body.id)}}" style="color:green;">View</a></td>
                </tr>               
                {% endfor %} 

            </tbody>
        </table>

    </div>
        <br>
    
    <footer>
    {%include 'homepage/footer.html'%}
    </footer>

</body>
</html>