<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Menu-Overweight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    {%include 'meta-data.html'%}
</head>
<body>
  {%if session['logged_in'] == True %}
    {%include 'homepage/nav.html'%}
  {%else%}
    {%include 'homepage/navigation.html'%}
  {%endif%}
    <!-- <h4 class="text-center my-5">Thực đơn Eat clean cho bữa ăn thêm phong phú</h4> -->
    <div class="album py-5 bg-light">
            <h4 class="text-center my-5 font-lobster" style="font-size:45px;">Thực đơn Eat clean cho bữa ăn thêm phong phú</h4>
        <div class="container">

          <!-- img11 -->
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" style="height:228px;" src="../static/image/menu11.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Tự nấu ăn tại nhà bằng cách chọn thực phẩm tươi ngon với đầy đủ dưỡng chất mỗi bữa ăn như này sẽ giúp bạn giảm cân hiệu quả, từ từ mà khỏi lo da xấu.</p>
                </div>
              </div>
            </div>
            <!-- img22 -->
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../static/image/menu26.jpg" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22208%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20208%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165911fa766%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A11pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165911fa766%22%3E%3Crect%20width%3D%22208%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2266.953125%22%20y%3D%22117.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">Trong những bữa ăn ít tinh bột như này, bạn có thể tận dụng để làm 2 món giàu đạm là cá và trứng mà không lo tăng cân.</p>
                </div> 
              </div>
            </div>
            <!-- img29 -->
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../static/image/menu29.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">Tăng cường thêm rau xanh và đa dạng hơn trong hình thức nấu nướng vào những ngày bạn chỉ ăn khoai lang làm tinh bột nuôi não.</p>
                </div>
              </div>
            </div> 

            <!-- img4 -->
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../static/image/menu4.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">Thỉnh thoảng, bạn có thể đổi tinh bột bằng gạo lứt sẽ đem lại nhiều lợi ích sức khỏe mà khỏi lo béo như ăn cơm gạo trắng.</p>
                  
                </div>
              </div>
            </div>
            <!-- img5 -->
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../static/image/menu5.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">Nếu bạn thích ăn đồ xào, hãy thử làm món thịt gà xào nấm ăn kèm khoai lang luộc. Bạn sẽ có bữa ăn vừa ngon vừa không lo béo.</p>
                </div>
              </div>
            </div>

            <!-- img6 -->
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../static/image/menu6.jpg" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22208%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20208%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165911fa76e%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A11pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165911fa76e%22%3E%3Crect%20width%3D%22208%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2266.953125%22%20y%3D%22117.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">Hãy luôn cố gắng duy trì 3 món ăn trong một bữa với vai trò cung cấp chất dinh dưỡng cần thiết cho cơ thể trong chế độ ăn kiêng Eat Clean.</p>
                </div>
              </div>
            </div>

            <!-- img7 -->
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../static/image/menu7.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">Nếu không thể làm đến 3 món ăn, bạn có thể đơn giản hóa bằng cách kết hợp nguồn đạm và rau củ quả để xào nấu với nhau ăn kèm cơm gạo lứt như thế này.</p>
                </div>
              </div> 
            </div>

            <!-- img8 -->
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../static/image/menu8.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">Thịt chả băm viên ăn kèm đậu phụ, củ cải luộc với cơm gạo lứt là bữa ăn nhanh gọn cho người muốn giảm cân, đốt cháy mỡ bụng siêu tốt.</p>
                </div>
              </div>
            </div>

            <!-- img9 -->
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../static/image/menu9.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">Cơm gạo lứt ăn kèm thịt gà xào ớt, nấm, mộc nhĩ. Món ăn hiện lên với màu sắc sống động, vô cùng bắt mắt sẽ kích thích bạn ăn ngon hơn.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- img10 -->
      <div class="album bg-light">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" style="height: 228px;" src="../static/image/menu30.jpg" data-holder-rendered="true">
                    <div class="card-body">
                      <p class="card-text">Củ cải trắng là loại rau củ khá an toàn, khá sạch vì được trồng dưới đất nên hãy tận dụng tối đa để ăn lành mạnh, ăn giảm cân nhé!</p>
                    </div>
                  </div>
                </div>


                <!-- img11 -->
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="../static/image/menu33.jpg" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22208%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20208%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165911fa766%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A11pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165911fa766%22%3E%3Crect%20width%3D%22208%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2266.953125%22%20y%3D%22117.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text">Cháo yến mạch ăn kèm các loại hạt và trái cây như này cũng giúp cung cấp năng lượng cho cả ngày dài, giúp tinh thần thoải mái mà không lo béo.</p>
                    </div> 
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="../static/image/menu34.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text">Ở một bữa sáng khác, bạn có thể nấu đơn giản hơn cháo yến mạch với chuối chín, phủ thêm chút hạt yêu thích và thưởng thức.</p>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="../static/image/menu10.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <!-- <p class="card-text">Phương pháp ăn kiêng Eat Clean giúp bạn đơn giản hóa một cách tối đa trong nấu nướng, giúp ăn ngon lại giảm cân với những nguyên liệu dễ kiếm.</p> -->
                      <p class="card-text">Bông cải xanh, thịt gà ức vai được tận dụng tối đa trong việc ăn uống lành mạnh để giảm cân.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="../static/image/menu14.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text">Thậm chí là bạn có thể ăn một bữa ăn toàn món luộc như này nhưng vẫn đủ chất lại tránh tăng cân.</p>
    
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="../static/image/menu15.jpg" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22208%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20208%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165911fa76e%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A11pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165911fa76e%22%3E%3Crect%20width%3D%22208%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2266.953125%22%20y%3D%22117.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text">Chỉ cần chút gia vị để chấm là bạn có một bữa ăn toàn đồ luộc ngon miệng và đủ chất rồi nhé!</p>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="../static/image/menu16.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text">Đừng quên bổ sung nhiều loại rau củ với nhiều màu sắc khác nhau trên mỗi bữa ăn của bạn.</p>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="../static/image/menu17.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text">Nguồn tinh bột có thể thay đổi, ngày thì khoai lang, ngày thì cơm gạo lứt hoặc cơm gạo trắng.</p>
                    
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="../static/image/menu3.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                      <p class="card-text">Trong thực đơn ăn kiêng Eat Clean, trứng là một trong những món ăn không nên bỏ qua bởi nguồn đạm dồi dào.</p>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="album py-5 bg-light">
                <div class="container">
        
                  <div class="row">
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" style="height:228px;" src="../static/image/menu19.jpg" data-holder-rendered="true">
                        <div class="card-body">
                          <p class="card-text">Rau củ quả càng được chế biến đơn giản càng đảm bảo sự lành mạnh trong ăn uống, nhất là người trên hành trình giảm cân.</p>
                            <!-- <p class="card-text">Trong thực đơn ăn kiêng Eat Clean, trứng là một trong những món ăn không nên bỏ qua bởi nguồn đạm dồi dào.</p> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="../static/image/menu20.jpg" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22208%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20208%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165911fa766%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A11pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165911fa766%22%3E%3Crect%20width%3D%22208%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2266.953125%22%20y%3D%22117.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                          <p class="card-text">Trứng là nguồn đạm tốt quen thuộc lại dễ chế biến, có thể làm thành món ăn nhanh chóng nên hãy tận dụng thay đổi trong các bữa ăn nhé!</p>
                        </div> 
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="../static/image/menu21.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                          <p class="card-text">Vì những món ăn hầu hết là đồ luộc, do đó đừng quên tận dụng một chút gia vị và đặc biệt là bổ sung thêm rau gia vị để bữa ăn của bạn thêm ngon lành.</p>
                        </div>
                      </div>
                    </div>
        
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="../static/image/menu25.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                          <!-- <p class="card-text">Măng tây là một trong những thực phẩm giúp giảm cân nhưng chứa nhiều vitamin và khoáng chất quan trọng, hãy tận dụng bổ sung trong thực đơn ăn để giảm mỡ bụng của bạn.</p> -->
                          <p class="card-text">Chán rau luộc thì có thể bổ sung thêm chút rau sống như dưa chuột, vừa tươi mát lại vừa giúp giảm cân hiệu quả.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="../static/image/menu28.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                          <p class="card-text">Chú ý khi ăn thịt, thịt của bạn phải nạc hoàn toàn mới không lo béo và cung cấp được nguồn đạm tốt cho cơ thể.</p>
        
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="../static/image/menu24.jpg" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22208%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20208%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165911fa76e%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A11pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165911fa76e%22%3E%3Crect%20width%3D%22208%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2266.953125%22%20y%3D%22117.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                          <p class="card-text">Hoặc bạn có thể luộc nhiều loại rau cùng lúc để ăn thay đổi trong một bữa ăn.</p>
                        </div>
                      </div>
                    </div>
        
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="../static/image/menu27.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                          <p class="card-text">Bữa ăn khá đầy đủ như ngày bình thường mà vẫn giúp bạn giảm béo bụng.</p>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="../static/image/menu31.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                          <p class="card-text">Bạn có thể bắt đầu bữa sáng với các loại hoa quả trộn sữa chua rồi thưởng thức.</p>
                        
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="../static/image/menu32.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                          <p class="card-text">Bổ sung chuối ngay trong bữa sáng lành mạnh giúp bạn khỏe mạnh mà vẫn không lo tăng cân.</p>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            
                
                          

                
                            
</body>
</html>