<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Overweight</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <!-- <link href="css/agency.min.css" rel="stylesheet"> -->
    <link href="../static/css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top"> 

      {%if session['logged_in'] == True %}
      {%include 'homepage/nav.html'%}
    {%else%}
      {%include 'homepage/navigation.html'%}
    {%endif%}

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-warning">
                <h2 class="section-heading text-uppercase" style="color:green;">chỉ số BMI : {{bmi}}</h2>
                <h3 class="section-subheading text-muted">Dựa vào chỉ số BMI cho thấy bạn đang bị <strong>thừa cân.</strong> 
                   <br> Tuy nhiên, tình trạng chưa quá trầm trọng nên bạn có thể tìm ngay các phương pháp giảm cân hiệu quả tự nhiên và kết hợp luyện tập.<br> Nếu áp dụng điều độ và kiên trì, chỉ cần tốn khoảng vài tháng là bạn có ngay vóc dáng rất ưng ý rồi đó.
                </h3>
            </div>
              <hr>
          <div class="col-lg-12 text-center my-3">
            <h2 class="section-heading text-uppercase">Chế độ ăn</h2>
            <h3 class="section-subheading text-muted">Chế độ ăn khoa học tốt cho sức khỏe và duy trì chỉ số BMI của bạn</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/image/img5.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Eat clean</h4>
              <p class="text-muted">Cơ thể khỏe mạnh và chống lão hóa</a></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/image/img2.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Eat clean</h4>
              <p class="text-muted">Giảm cân lành mạnh</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/image/img3.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Eat clean</h4>
              <p class="text-muted">Cung cấp thêm năng lượng cho cơ thể</p>
            </div>
            </div>
            


            
          <!-- Detox-->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/image/detox2.jpg" alt="" style="height:245px;">
            </a>
            <div class="portfolio-caption">
              <h4>Detox</h4>
              <p class="text-muted">Nâng cao khả năng thải độc cơ thể</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/image/detox3.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Detox</h4>
              <p class="text-muted">Thanh lọc cơ thể từ bên trong</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/image/detox5.jpg" alt="" style="height:245px;">
            </a>
            <div class="portfolio-caption">
              <h4>Detox</h4>
              <p class="text-muted">Giảm cân và làm đẹp da</p>
            </div>
          </div>
        </div>
      </div>

      <!-- chế độ tập -->
      <div class="col-lg-12 text-center my-5">
          <h2 class="section-heading text-uppercase">Chế độ tập luyện</h2>
          <h3 class="section-subheading text-muted">Ngoài việc có chế độ ăn khoa học, bạn cần phải có chế độ tập luyện phù hợp để đạt hiệu quả cao.
            <br>Một số gợi ý về bài tập cho người giảm cân. Các bài tập có thời gian dài và cường độ mạnh là sự lựa chọn tốt nhất cho người muốn giảm cân 
          </h3>


          <h4 class="text-center font-lobster my-3">Aerobic</h4>
          {%for video in videos %}
          <div class="card d-inline-block my-2 mx-1" style="width: 18rem;">
              <a href="{{url_for('detail', youtube_id=video.youtube_id)}}">
                
                <div class="d-flex justify-content-center align-items-center" style="background-image: url({{video.thumbnail}});
                                                                                                  background-position: center;
                                                                                                  background-size: cover;
                                                                                                  width: 100%;
                                                                                                  height: 130px;">
                    <i class="fab fa-youtube" style="font-size: 44px;  color:red;"></i>                
                </div>
                
                {#<img class="card-img-top" src="{{video.thumbnail}}" alt="Card image cap" width="200px" height="130px">#}
              
              <div class="card-body">
                <p class="card-text" style="color:black;">{{video.title}}</p>
              </div>
              </a>
            </div>
        {%endfor%}

          
        <h4 class="text-center font-lobster my-3">Cardio</h4>
        {%for exercise in exercises %}
        <div class="card d-inline-block my-2 mx-1" style="width: 18rem;">
            <a href="{{url_for('detail', youtube_id=exercise.youtube_id)}}">
              
              <div class="d-flex justify-content-center align-items-center" style="background-image: url({{exercise.thumbnail}});
                                                                                                background-position: center;
                                                                                                background-size: cover;
                                                                                                width: 100%;
                                                                                                height: 130px;">
                  <i class="fab fa-youtube" style="font-size: 44px;  color:red;"></i>                
              </div>
              
              {#<img class="card-img-top" src="{{exercise.thumbnail}}" alt="Card image cap" width="200px" height="130px">#}
            
            <div class="card-body">
              <p class="card-text" style="color:black;">{{exercise.title}}</p>
            </div>
            </a>
          </div>
      {%endfor%}

      </div>

          <!-- thêm video tại đây -->
    </section>

    <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase" style="color:black;">Eat clean</h2>
                  <p class="item-intro text-muted">Chế độ ăn eat clean cho cơ thể khỏe mạnh và chống lão hóa</p>
                  <img class="img-fluid d-block mx-auto" src="../static/image/img5.jpg" alt="">
                  <p style="color:black;">Nếu bạn đang muốn ăn lành mạnh để giảm cân nhưng không biết có những thực đơn ăn kiêng nào,
                     có thể nấu thay đổi món ăn như thế nào để đánh bay mỡ bụng... 
                    thì đây chính là giải pháp dành cho bạn.</p>
                    <a target="_blank" href="{{url_for('menu')}}">
                      Thực đơn eat clean cho bạn
                    </a><br>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Eat clean</h2>
                  <p class="item-intro text-muted">Chế độ ăn eat clean cho cơ thể khỏe mạnh và chống lão hóa.</p>
                  <img class="img-fluid d-block mx-auto" src="../static/image/img2.jpg" alt="">
                  <p>Nếu bạn đang muốn ăn lành mạnh để giảm cân nhưng không biết có những thực đơn ăn kiêng nào, có thể nấu thay đổi món ăn như thế nào để đánh bay mỡ bụng... 
                      thì đây chính là giải pháp dành cho bạn.</p>
                      <a target="_blank" href="{{url_for('menu')}}">
                        Thực đơn eat clean cho bạn
                      </a>
                  
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Eat clean</h2>
                  <p class="item-intro text-muted">Chế độ ăn eat clean cho cơ thể khỏe mạnh và chống lão hóa.</p>
                  <img class="img-fluid d-block mx-auto" src="../static/image/img3.jpg" alt="">
                  <p>Nếu bạn đang muốn ăn lành mạnh để giảm cân nhưng không biết có những thực đơn ăn kiêng nào, có thể nấu thay đổi món ăn như thế nào để đánh bay mỡ bụng... 
                      thì đây chính là giải pháp dành cho bạn.</p>
                      <a target="_blank" href="#">
                        Ăn kiêng giảm cân theo công thức eat clean
                      </a></p>
                  
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Detox</h2>
                  <p class="item-intro text-muted">Thải độc (detox) và chống oxy hóa</p>
                  <img class="img-fluid d-block mx-auto" src="../static/image/detox2.jpg" alt="">
                  <p> detox là phương pháp thanh lọc cơ thể, 
                    làm sạch từ bên trong giúp các cơ quan trên cơ thể chúng ta
                     hoạt động tốt hơn. Bằng cách đẩy các độc tố, kí sinh trùng, 
                     vi khuẩn và các chất dư thừa như mỡ và nước giúp giảm đi chút 
                     cân thừa và cơ thể chúng ta khỏe mạnh hơn.</p>
                    <a href="{{url_for('detox')}}" target="_blank">Cách làm detox đơn giản cho bạn</a>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Detox</h2>
                  <p class="item-intro text-muted">Thải độc (detox) và chống oxy hóa</p>
                  <img class="img-fluid d-block mx-auto" src="../static/image/detox3.jpg" alt="">
                  <p>detox là phương pháp thanh lọc cơ thể, làm sạch từ bên 
                    trong giúp các cơ quan trên cơ thể chúng ta hoạt động tốt hơn.
                     Bằng cách đẩy các độc tố, kí sinh trùng, vi khuẩn và các chất dư thừa 
                     như mỡ và nước giúp giảm đi chút cân thừa và cơ thể chúng ta khỏe mạnh hơn.</p>
                    <a target="_blank" href="https://detoxgreen.vn/detox-la-gi-tac-dung-cua-detox-nhu-nao.html">TÌm hiểu thêm về detox và tác dụng</a>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Detox</h2>
                  <p class="item-intro text-muted">Thanh lọc cơ thể từ bên trong</p>
                  <img class="img-fluid d-block mx-auto" src="../static/image/detox5.jpg" alt="" >
                  <p>Detox chống lão hóa và có tác dụng làm đẹp da tự nhiên</p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>

    {%include 'homepage/footer.html'%}

  </body>

</html>