<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Underweight</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <!-- <link href="css/agency.min.css" rel="stylesheet"> -->
    <link href="../static/css/agency.min.css" rel="stylesheet">

  </head> 

  <body id="page-top">
    {%if session['logged_in'] == True %}
      {%include 'homepage/nav.html'%}
    {%else%}
      {%include 'homepage/navigation.html'%}
    {%endif%}

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-warning">
                <h2 class="section-heading text-uppercase" style="color:green;">chỉ số BMI : {{bmi}}</h2>
                <h3 class="section-subheading text-muted">Dựa vào chỉ số BMI cho thấy bạn đang bị <strong>gầy</strong>.
                  <br>Bạn cần áp dụng chế độ ăn và thể thao để tăng cân.
                </h3>
            </div>
              <hr>
          <div class="col-lg-12 text-center my-3">
            <h2 class="section-heading text-uppercase">Chế độ ăn</h2>
            <h3 class="section-subheading text-muted">Chế độ ăn khoa học tốt cho sức khỏe và duy trì chỉ số BMI của bạn</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/image/u1.jpg" alt="" style="height:240px;">
            </a>
            <div class="portfolio-caption">
              <h4>Chế độ ăn cho người gầy</h4>
              <!-- <p class="text-muted">Cơ thể khỏe mạnh và chống lão hóa</a></p> -->
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/image/u2.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Top thực phẩm tăng cân tự nhiên, hiệu quả</h4>
              <!-- <p class="text-muted">Giảm cân lành mạnh</p> -->
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/image/u3.jpg" alt="" style="height:240px;">
            </a>
            <div class="portfolio-caption">
              <h4>Những lưu ý khi ăn chế độ ăn tăng cân</h4>
              <!-- <p class="text-muted">Cung cấp thêm năng lượng cho cơ thể</p> -->
            </div>
            </div>
            


            
          <!-- Detox-->
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/image/detox3.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Detox</h4>
              <p class="text-muted">Một số công thức detox cơ bản</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/image/detox4.jpg" style = "height:245px;" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Detox</h4>
              <p class="text-muted">Detox là gì?</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../static/image/detox6.jpg" style = "height:245px;" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Detox</h4>
              <p class="text-muted">Làm đẹp da</p>
            </div>
          </div>
        </div>
      </div>

      <!-- chế độ tập -->
      <div class="col-lg-12 text-center my-5 ">
          <h2 class="section-heading text-uppercase">Chế độ tập luyện</h2>
          <h3 class="section-subheading text-muted">Ngoài việc có chế độ ăn khoa học, bạn cần phải có chế độ tập luyện phù hợp để đạt hiệu quả cao.
            <br>Một số gợi ý về bài tập cho người tăng cân.  
          </h3>

          <h4 class="text-center font-lobster my-3">Yoga</h4>
          {%for yoga in yogas %}
          <div class="card d-inline-block my-2 mx-1" style="width: 18rem;">
              <a href="{{url_for('detail', youtube_id=yoga.youtube_id)}}">
                
                <div class="d-flex justify-content-center align-items-center" style="background-image: url({{yoga.thumbnail}});
                                                                                                  background-position: center;
                                                                                                  background-size: cover;
                                                                                                  width: 100%;
                                                                                                  height: 130px;">
                    <i class="fab fa-youtube" style="font-size: 44px;  color:red;"></i>                
                </div>
                
                {#<img class="card-img-top" src="{{video.thumbnail}}" alt="Card image cap" width="200px" height="130px">#}
              
              <div class="card-body">
                <p class="card-text" style="color:black;">{{yoga.title}}</p>
              </div>
              </a>
            </div>
        {%endfor%}

          
          <h4 class="text-center font-lobster my-3">Cardio</h4>
          {% for underweight in underweights %}
          <div class="card d-inline-block my-2 mx-1" style="width: 18rem;">
              <a href="{{url_for('detail', youtube_id=underweight.youtube_id)}}">
              {#<img class="card-img-top" src="{{underweight.thumbnail}}" alt="Card image cap" width="200px" height="130px" >#}
              <div class="d-flex justify-content-center align-items-center" style="background-image: url({{underweight.thumbnail}});
                                                                                                  background-position: center;
                                                                                                  background-size: cover;
                                                                                                  width: 100%;
                                                                                                  height: 130px;">
                    <i class="fab fa-youtube" style="font-size: 44px; color:red;"></i>                
                </div>
              <div class="card-body">
                <p class="card-text" style="color:black;">{{underweight.title}}</p>
              </div>
              
          </div>
          {% endfor %}
          
      </div>

    </section>

    <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                    <h2 class="text-uppercase" style="color:black;">Chế độ tăng cân kết hợp giữa chất đạm, chất béo và tinh bột</h2>
                  <img class="img-fluid d-block mx-auto" src="../static/image/u1.jpg" alt="">
                      <a target="_blank" href="{{url_for('menu_under')}}">
                        Tìm hiểu về 4 chế độ ăn tăng cân
                      </a>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Thực phẩm giúp tăng cân tự nhiên</h2>
                  <img class="img-fluid d-block mx-auto" src="../static/image/u2.jpg" alt="">
                  <p>Cần bổ sung các loại thực phẩm giúp tăng cân có nguồn dinh dưỡng cao giúp nạp năng lượng,  bổ sung dưỡng chất và giúp tăng cân nhanh chóng. Sau đây là top 15 thực phẩm tăng cân dành cho người gầy.</p>
                      <a target="_blank" href="{{url_for('menu_under1')}}">
                        Thực đơn cho bạn
                      </a>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h5 class="text-center">Những sai lầm cần tránh trong việc chọn thực phẩm tăng cân dành cho người gầy</h5>
                  <!-- <p class="item-intro text-muted">Chế độ ăn eat clean cho cơ thể khỏe mạnh và chống lão hóa.</p> -->
                  <img class="img-fluid d-block mx-auto" src="../static/image/u3.jpg" alt="">
                  <p>Ăn nhiều đồ ăn chiên rán, tinh bột<br>
                    Bổ xung quá nhiều đạm động vật<br>
                    Không ăn rau
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Detox</h2>
                  <p class="item-intro text-muted">Tham khảo một số công thức detox cơ bản</p>
                  <img class="img-fluid d-block mx-auto" src="../static/image/detox3.jpg" alt="">
                  <p> Detox là phương pháp thanh lọc cơ thể, làm sạch từ bên trong giúp các cơ quan trên cơ thể chúng ta hoạt động tốt hơn. Bằng cách đẩy các độc tố, kí sinh trùng, vi khuẩn và các chất dư thừa như mỡ và nước giúp giảm đi chút cân thừa và cơ thể chúng ta khỏe mạnh hơn.
                    <a targer="_blank" href="{{url_for('detox_underweight')}}">Cách làm detox đơn giản cho bạn</a>
                  </p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Detox</h2>
                  <p class="item-intro text-muted">Detox là gì?</p>
                  <img class="img-fluid d-block mx-auto" src="../static/image/detox4.jpg" alt="">
                  <p>detox là phương pháp thanh lọc cơ thể, làm sạch từ bên trong giúp các cơ quan trên cơ thể chúng ta hoạt động tốt hơn. Bằng cách đẩy các độc tố, kí sinh trùng,
                     vi khuẩn và các chất dư thừa như mỡ và nước giúp giảm đi chút cân thừa và cơ thể chúng ta khỏe mạnh hơn.
                    <a target="_blank" href="https://detoxgreen.vn/detox-la-gi-tac-dung-cua-detox-nhu-nao.html">TÌm hiểu thêm về detox và tác dụng</a>
                  </p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Detox</h2>
                  <p class="item-intro text-muted">Detox có dành cho người gầy?</p>
                  <img class="img-fluid d-block mx-auto" src="../static/image/detox6.jpg" alt="">
                  <p>Detox  thanh lọc cơ thể để đưa các chất độc ra ngoài sẽ giúp bạn có một cơ thể khỏe mạnh và phòng tránh được nhiều bệnh tật nguy hiểm. Đặc biệt với những người gầy muốn tăng cân nhanh thì việc thanh lọc cơ thể là tiền đề thúc đẩy quá trình tăng cân.
                    <a target="_blank" href="http://vietnamnet.vn/vn/suc-khoe/vi-sao-nguoi-gay-muon-tang-can-phai-thanh-loc-co-the-421962.html">TÌm hiểu thêm về tác dụng của detox trong quá trình tăng cân</a>
                  </p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Chế độ tập luyện   -->


    <!--Để hiện lên thì phải chỉnh ở dưới  -->




    <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>

    {%include 'homepage/footer.html'%}

  </body>

</html>
